<style type="text/css">
    .logo{
        margin-top: 50px;
        margin-left: 0px;
        width: 30px;
        height: 10px;
    }

</style>

<div>
  <div class = "logo">
    <a href="https://ibb.co/LQgDnV0"><img src="https://i.ibb.co/LQgDnV0/Wechat-IMG16.jpg" alt="Wechat-IMG16" border="0"></a>
  </div>
  <form method="get" style="text-align:center">
    <h1>Student Log in page</h1>
    <p>User_name:</p> <input type="text" name="user_name" id="user_name" required/>
    <p>Password:</p> <input type="text" name="password" id="password" required/>
    <input type="submit" value="Submit" />
  </form>
  <% if @wrong == "name" %>
    <h1 style="background-color:powderblue;">Wrong username, please check</h1>
  <% end %>
  <% if @wrong == "password" %>
    <h1 style="background-color:powderblue;">Wrong password, please check</h1>
  <% end %>

  <% if @wrong == "both" %>
    <h1 style="background-color:powderblue;">All wrong</h1>
    <% @wrong.clear %>
  <% end %>

  <%= link_to root_path do %>
    <button>back</button>
  <% end %>
</div>
