<style type="text/css">
    .logo{
        margin-top: 50px;
        margin-left: 0px;
        width: 30px;
        height: 10px;
    }

</style>

<div>
  <div class = "logo">
    <a href="https://ibb.co/LQgDnV0"><img src="https://i.ibb.co/LQgDnV0/Wechat-IMG16.jpg" alt="Wechat-IMG16" border="0"></a>
  </div>



  <li><%= link_to "Log in", login_path, class: "mx-2" %></li>
</div>
