<!DOCTYPE html>
<html>
<head>
  <style>

      h2, h3 {
          text-align: center;
      }

      table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
      }

      table {
          float: right;
      }

      th, td {
          padding: 0.3em 0.8em;
      }

      #current-week {
          text-align: center;
      }

      #current-week h3 {
          display: inline-block;
      }
  </style>
</head>
<body>

  <div>
    <h2>TIMETABLE: WEEKLY VIEW</h2>

    <div id="current-week">
      <button id="week-back" type="button">Back</button>
      <h3>2 - 8 August 2021</h3>
      <button id="week-forward" type="button">Forward</button>
    </div>
  </div>

  <div style="float: left">
    <a href="https://www.adelaide.edu.au/ask-adelaide/">Ask ADEL</a>
    <p>Find answers to frequently asked questions</p>
    <a href="https://www.adelaide.edu.au/ask-adelaide/contact-us">Online Chat</a>
    <p>Chat with a sevice agent</p>
    <a href="https://www.adelaide.edu.au/ask-adelaide/contact-us">Phone Us</a>
    <p>+61 8 83135208</p>
    <a href="https://www.adelaide.edu.au/ask-adelaide/contact-us">Enquire</a>
    <p>Submit your question to a service agent</p>
    <a href="https://www.adelaide.edu.au/ask-adelaide/contact-us">Visit Us</a>
    <p>Level 3 Hub Central North Terrace</p>
  </div>

  <div>
    <table>
      <tr id="day-headers">
        <th>Time</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
      <% for i in 18..33 do %>
        <tr>
          <td>
            <% if i.modulo(2) == 0  %>
              <% if (i/2) <= 12 %>
                <%= i/2 %>:00
              <% else %>
                <%= (i/2).modulo(13) + 1 %>:00
              <% end %>
              <% if i < 24  %>am<% else %>pm<% end %>
            <% else %>
              &nbsp;
            <% end %>
          </td>
          <% for j in 0..6 %>
            <td id="<%= i*7+j %>"></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>



  <script>
      function setWeekDayHeaders(direction) {
          // Create a Date object for the Monday at the start of the week
          var weekDays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];

          // Set the header for each day in the table, e.g 'Wednesday 25/8'
          for (let i = 0; i < 7; i++) {
              var d = new Date();
              d.setDate(weekStartDate.getDate() + i);
              var dayHeader = document.getElementById("day-headers").children[i+1];
              dayHeader.innerText = weekDays[i] + " " + d.getDate()+ "/" + (d.getMonth() + 1);
          }
      }


    // Get Information about current day
    var currentDate = new Date();
    var day = currentDate.getDay();
    var date = currentDate.getDate();
    var month = currentDate.getMonth();

    // Highlight the current day in the week
    document.getElementById("day-headers").children[day].style.backgroundColor = "grey";

    var weekStartDate = new Date();

    weekStartDate.setDate(date - day + 1);
    setWeekDayHeaders();



    document.getElementById("week-back").onclick = function() {
        weekStartDate.setDate(weekStartDate.getDate() - 7);
        setWeekDayHeaders();
    }

    document.getElementById("week-forward").onclick = function() {
          weekStartDate.setDate(weekStartDate.getDate() + 7);
          setWeekDayHeaders();
      }

  </script>


</body>
</html>