<style type="text/css">
    .body{
        margin: 0;padding: 0;
    }
    .nav{
        height: 50px;
        width: 100%;
        background: #97959B;
        position: fixed;
        top: 0;
    }
    .content{
        margin-top: 50px;
    }
    .logo{
        margin-top: 50px;
        margin-left: 0px;
        width: 30px;
        height: 10px;
    }

    .login{

    }
</style>

<body class="body">
<div class="nav"></div>
<div class = "logo">
  <a href="https://ibb.co/LQgDnV0"><img src="https://i.ibb.co/LQgDnV0/Wechat-IMG16.jpg" alt="Wechat-IMG16" border="0"></a>
</div>

<div style="text-align:center">
  <button class="login">Log in as a Student</button>
  <br>

  <button class="login">Log in as a Teacher</button>
</div>
</body>
