<style type="text/css">
    .logo{
        margin-top: 50px;
        margin-left: 0px;
        width: 30px;
        height: 10px;
    }

</style>

<div>
  <div class = "logo">
    <a href="https://ibb.co/LQgDnV0"><img src="https://i.ibb.co/LQgDnV0/Wechat-IMG16.jpg" alt="Wechat-IMG16" border="0"></a>
  </div>
  <form method="get" style="text-align:center">
    <h1>Teacher Log in page</h1>
    <p>User_name:</p> <input type="text" name="user_name" />
    <p>Password:</p> <input type="text" name="password" />
    <br>
    <br>
    <br>
    <input type="submit" value="Submit" />
  </form>

  <%= link_to root_path do %>
   <button>back</button>
  <% end %>
</div>
