<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm fixed-top justify-content-between">
    <%= link_to root_path do %>
     <%= image_tag("", width: "50", height: "50", alt: "logo") %>
    <% end %>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to 'Home', root_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
  <a class="navbar-brand p-2" href="#"><%= yield :title %></a>
  <button class="navbar-toggler m-2" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>